<!-- BryntumDemoHeader component is used for Bryntum example styling only and can be removed -->
<bryntum-demo-header></bryntum-demo-header>

<bryntum-calendar
    [date] = "calendarProps.date!"
    [crudManager] = "calendarProps.crudManager!"
    [sidebar] = "calendarProps.sidebar!"
    [resourceImagePath] = "calendarProps.resourceImagePath!"
    [modeDefaults] = "calendarProps.modeDefaults!"
    [modes] = "calendarProps.modes!"
    [eventTooltipFeature] = "calendarProps.eventTooltipFeature!"
    [tbar] = "calendarProps.tbar!"
>
</bryntum-calendar>
