.b-sidebar .b-sidebar-content {
    gap : .2em;

    .b-projectfilter .b-selected-icon:before {
        font-size : 150%;
    }
}

.tooltip-property {
    font-weight : 500;

    &:not(:first-child) {
        margin-top : 1em;
    }
}

.b-projectfilter {
    flex-shrink : 0;

    .b-list-item {
        border               : 0 none;
        border-radius        : 0;
        padding              : 0.5em;
        padding-inline-start : 0;

        .b-fa {
            margin-inline-end : 0.5em;
        }
    }

    .b-selected-icon {
        visibility        : visible !important;
        margin-inline-end : 0.8em;

        &:before {
            content : "\f0c8";
            opacity : 0.6;
        }
    }

    .b-selected .b-selected-icon:before {
        content : "\f14a";
        opacity : 1;
    }
}

.project-wrap {
    margin-block : auto .5em;

    i {
        margin-inline-end : .5em;
    }
}

img.b-resource-avatar {
    border : 0;
}

.b-dayview-hourheight-level-1 .b-dayview-tick-level-1 {
    visibility : hidden;
}
