// This is required to setup font locations for Angular SCSS preprocessor
$fa-font-path  : '../../fonts';
$roboto-font-path : '../../../fonts';

// Import SCSS API styling
@import '@bryntum/core-thin/sass/themes/material.scss';
@import '@bryntum/grid-thin/sass/themes/material.scss';
@import '@bryntum/scheduler-thin/sass/themes/material.scss';
@import '@bryntum/calendar-thin/sass/themes/material.scss';

// Import Demo styling
@import "@bryntum/demo-resources/scss/example-webpack.scss";

bryntum-calendar {
    flex : 1;
}

.hackathon-dayoff {
    .b-cal-cell-header {
        justify-content : center;
    }

    .b-cal-event .b-cal-event-icon {
        &:before {
            content                 : "\f118"; // fa-smile
            font-size               : 1em;
            color                   : yellow;
            --webkit-font-smoothing : antialiased;
            z-index                 : 1;
            text-shadow             : 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
            margin-inline-start     : .5em;
        }
    }
}
